name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Pull environment variables
        run: vercel env pull --environment=production --token=${{ secrets.VERCEL_TOKEN }} .env

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Start Supabase
        run: supabase start

      - name: Setup local supabase environment variables
        # Grab the environment variables from the supabase project and merge them with the local .env file
        # https://stackoverflow.com/q/57691556
        run: |
          supabase status -o env >> .env.supabase
          sort -u -t '=' -k 1,1 .env .env.supabase | grep -v '^$\|^\s*\#' > .env

      - name: Build the app
        run: bun run build

      - name: Install Playwright Browsers
        run: bun run playwright install --with-deps

      - name: Run Playwright tests
        run: bun test:e2e

      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
